{% extends 'base.html' %}

{% block content %}
<h3 class="mb-4">Visitor Summary</h3>

<div class="row">
    <div class="col-md-3">
        <div class="card text-bg-primary shadow">
            <div class="card-body text-center">
                <h5>Total</h5>
                <h2>{{ total }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-bg-success shadow">
            <div class="card-body text-center">
                <h5>Students</h5>
                <h2>{{ students }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-bg-warning shadow">
            <div class="card-body text-center">
                <h5>Employees</h5>
                <h2>{{ employees }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-bg-danger shadow">
            <div class="card-body text-center">
                <h5>Un-Employee</h5>
                <h2>{{ unemp }}</h2>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <a class="btn btn-success me-2 mt-4" href="/">Home</a>
    </div>
</div>
{% endblock %}






{#<h2>Summary</h2>
<hr>
Total: {{ total }}<br>
Students: {{ students }}<br>
Employees: {{ employees }}<br>
Un-Employee: {{ unemp }}<br>
<hr>
<a href="/">Back</a>#}